      body {
        
       background-color:black;
       
       color:white;
}




       strong{ 
       
       font-size:18px;
       }
       h1{
         backgraund-color:white;
       }
       
       
       
       
       
       
       
       h1{
         
         style {color:black; background-color:white;
         
         
         }
       